/*
* Template:
* Author: 
* Version: 1.0
* Design and Developed by: 
*/

/* =-=-=-=-=-=-= General =-=-=-=-=-=-= */

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5a5a5a;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
}


html,
body {
    width: 100%;
    height: 100%;
}


/* Link style
/* ------------------------------ */
a {
    color: #77a86d;
}
a,
a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}


/* Transition elements
/* ------------------------------ */
.navbar a,
.form-control {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/* Reset box-shadow
/* ------------------------------ */

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* =-=-=-=-=-=-= Typography =-=-=-=-=-=-= */

h1, h2, h3, h4, h5, h6{
    margin: 0 0 15px;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}



p {
    margin: 0 0 10px 0; 
}
p img { 
    margin: 0; 
}

blockquote {
    border-left: 5px solid #2ecc71;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
}


/* Button Style
/* ------------------------------ */

.btn {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
}

.btn-primary {
    color: #77a86d;
    background-color: transparent;
    border-color: #77a86d;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:active:focus {
    color: #fff;
    background-color: #77a86d;
    border-color: #77a86d;
}


.btn-default {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-default:hover,
.btn-default:active,
.btn-default:active:hover,
.btn-default:focus,
.btn-default:active:focus {
    color: #77a86d;
    background-color: #fff;
    border-color: #fff;
}


.btn-lg {
    padding: 14px 54px;
}


.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus,
button:focus {
    outline: none !important;
}


.alert {
    padding: 9px 15px;
}

/* Form Style
/* ------------------------------ */
.form-group {
    margin-bottom: 30px;
}
.form-control {
    height: 40px;
    padding: 8px 20px;
    color: #fff;
    font-size: 13px;
    border: 0;
    border-bottom: 1px solid #3b4149;
    border-radius: 0;
    background-color: #1a1d20;
}
.form-control:focus {
    border-color: #2ecc71;
}


/* =-=-=-=-=-=-= List Style =-=-=-=-=-=-= */

/*check-list*/
.check-list {
    padding-left: 0px;
    list-style: none;
}

.check-list li {
    margin-bottom: 10px;
    display: block;
}

.check-list li:before {
    content:"\f00c";
    font-family: 'fontawesome';
    font-size: 14px;
    float: left;
    padding-right: 10px;
    color: #757575;
}

/*list half*/

.list-half li {
    width: 50%;
    float: left;
}




/* =-=-=-=-=-=-= Global Style =-=-=-=-=-=-= */

.section-padding {
    padding: 100px 0;
}
.theme-color {
    color: #77a86d!important
}
.white-color {
    color: #fff!important
}
.theme-bg {
    background-color: #77a86d!important;
}
.gray-bg {
    background-color: #f9f9f9!important;
}


.no-padding {
    padding: 0;
}

.mt-0 {
    margin-top: 0!important;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-100 {
    margin-top: 100px;
}


.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-100 {
    margin-bottom: 100px;
}


.pt-100 {
    padding-top: 100px
}
.pb-100 {
    padding-bottom: 100px
}
.ptb-50 {
    padding: 50px 0;
}


.section-title {
    display: table;
}

.title-border-container {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    position: relative;
}

.title-border-container .title-border {
    display: block;
    background: url(assets/images/pattern.png) repeat-x;
    width: 100%;
    height: 4px;
    position: relative;
    top: -6px;
    left: 10px;
}

.section-title h2 {
    display: block;
    font-size: 40px;
    font-weight: 700;
    color: #404040;
    text-transform: uppercase;
    white-space: pre;
    margin: 0;
}

.section-title h2 span {
    font-weight: 300!important;
}


.section-title.center {
    display: block;
    text-align: center;
    background: url(assets/images/border.png) repeat-x 0 32px;
}
.section-title.center h2 {
    display: inline-block;
    background: #fff;
    padding: 0 10px;
}


@media screen and (max-width: 479px) {
    .title-border-container .title-border {
        display: none;
    }
    .section-title h2 {
        font-size: 24px;
    }
}
.page-header {
    margin: 40px 0 0;
    border-bottom: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 15;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.page-header h1 {
    font-size: 36px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.page-title-section {
    background: url(assets/images/page-cover.jpg) no-repeat center center  #000;
    background-size: cover;
    position: relative;
    min-height: 350px;
}

.page-title-section::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}



/* =-=-=-=-=-=-= Topbar Section =-=-=-=-=-=-= */
.top-bar {
    padding: 12px 0;
    background-color: #e64e43;
}
.cta-wrapper ul li a i {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    background: #77a86d;
    color: #282828;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
}
.cta-wrapper ul li a {
    display: inline-block;
    font-weight: 400;
    color: #282828;
}
.cta-wrapper ul li a:hover {
    color: #fff;
}

.social-wrapper ul li a {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 26px;
    background: #77a86d;
    text-align: center;
    color: #282828;
    border-radius: 3px;
}
.social-wrapper ul li a:hover {
    background: #fff;
    color: #77a86d;
}

@media screen and (max-width: 767px) {
    .cta-wrapper,
    .social-wrapper {
        text-align: center;
    }
    .social-wrapper {
        margin-top: 20px;
    }

}

/* =-=-=-=-=-=-= Navigation =-=-=-=-=-=-= */
.navbar-custom {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    z-index: 1050;
    box-shadow: 0 3px 6px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.12);
}

.nav>li>a {
    color: #2b3135;
    font-size: 14px;
    font-weight: 400;
}

@media (min-width: 768px) {

    .navbar-brand {        
        /*padding: 35px 15px;*/		
    }

    .navbar-nav>li>a {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .navbar-brand,
    .navbar-nav>li>a {
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .is-sticky .navbar-brand {
        padding: 10px 15px;
    }
	/*When user pull the scrolbar down*/
    /*.is-sticky .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }*/
 
    .nav>li>a:hover,
    .navbar-nav>li.active>a {
        color: #77a86d;
        background-color: transparent;
        box-shadow: inset 0 3px #77a86d;
    }
    .nav>li>a:focus {
        color: #77a86d;
        background-color: transparent;
    }

}

@media screen and (max-width: 767px) {
    .navbar-brand {
        padding: 10px 15px;
    }
    .navbar-toggle .icon-bar {
        background-color: #77a86d;
    }

    .nav>li>a:hover,
    .navbar-nav>li.active>a {
        color: #77a86d;
        background-color: transparent;
    }
    .nav>li>a:focus {
        color: #77a86d;
        background-color: transparent;
    }
}




/* =-=-=-=-=-=-= Slider Section =-=-=-=-=-=-= */
.slider-section {
  background: url(assets/images/slide-1.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;

}
.tt-carousel .carousel-inner{
  min-height: 590px;  
}
.carousel-intro {
    padding-top: 160px;  
}
.carousel-title,
.crousel-subtitle{
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.carousel-title{    
	font-size: 50px;
}
.crousel-subtitle{
    /*font-size: 60px;*/
	font-size:40px;
}
.carousel-intro p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}
.carousel-intro .btn{
    border: 2px solid #fff;
    border-radius: 0;
    margin-top: 20px;
}
.carousel-img {
    float: right;
}
.layer-one {
    padding-top: 115px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-intro {
        padding-top: 100px;
    } 
}
@media (min-width: 768px) and (max-width: 991px) {
    .tt-carousel .carousel-inner {
        min-height: 430px;
    }
    .carousel-intro {
        padding-top: 100px;
    }
    .carousel-intro h1 {
        font-size: 25px;
    }
    .carousel-intro h2 {
        /*font-size: 38px;*/
		font-size: 28px;
    }
    .layer-two {
        padding-top: 70px;
    }
}
@media (max-width: 767px) {
    .tt-carousel .carousel-inner {
        min-height: 450px;
    }
    .carousel-intro {
        padding-top: 80px;
    }  
}
@media (max-width: 530px) {
    .carousel-intro h1 {
        font-size: 22px;
        margin-bottom: 0;
    }
    .carousel-intro h2 {
        /*font-size: 30px;*/
		font-size:20px;
    }
    .carousel-intro p {
        font-size: 14px;
        line-height: 20px;
    }
}




/* ---------------------------------------------------- */
/* Animations Delay */
/* ---------------------------------------------------- */

.animation-delay-3 {
  -webkit-animation-delay: .3s !important;
  -moz-animation-delay: .3s !important;
  -ms-animation-delay: .3s !important;
  -o-animation-delay: .3s !important;
  animation-delay: .3s !important;
}
.animation-delay-4 {
  -webkit-animation-delay: .4s !important;
  -moz-animation-delay: .4s !important;
  -ms-animation-delay: .4s !important;
  -o-animation-delay: .4s !important;
  animation-delay: .4s !important;
}
.animation-delay-5 {
  -webkit-animation-delay: .5s !important;
  -moz-animation-delay: .5s !important;
  -ms-animation-delay: .5s !important;
  -o-animation-delay: .5s !important;
  animation-delay: .5s !important;
}
.animation-delay-6 {
  -webkit-animation-delay: .6s !important;
  -moz-animation-delay: .6s !important;
  -ms-animation-delay: .6s !important;
  -o-animation-delay: .6s !important;
  animation-delay: .6s !important;
}
.animation-delay-7 {
  -webkit-animation-delay: .7s !important;
  -moz-animation-delay: .7s !important;
  -ms-animation-delay: .7s !important;
  -o-animation-delay: .7s !important;
  animation-delay: .7s !important;
}
.animation-delay-8 {
  -webkit-animation-delay: .8s !important;
  -moz-animation-delay: .8s !important;
  -ms-animation-delay: .8s !important;
  -o-animation-delay: .8s !important;
  animation-delay: .8s !important;
}
.animation-delay-9 {
  -webkit-animation-delay: .9s !important;
  -moz-animation-delay: .9s !important;
  -ms-animation-delay: .9s !important;
  -o-animation-delay: .9s !important;
  animation-delay: .9s !important;
}
.animation-delay-10 {
  -webkit-animation-delay: 1s !important;
  -moz-animation-delay: 1s !important;
  -ms-animation-delay: 1s !important;
  -o-animation-delay: 1s !important;
  animation-delay: 1s !important;
}





/* =-=-=-=-=-=-= Feature Section =-=-=-=-=-=-= */
.feature-img {
    padding: 5px 0;  
}

@media (max-width: 991px) {
    .feature-img {
        padding: 30px 0;  
    }
    .feature-img img{
        width: 100%;  
    }
}

.featured-item .icon{
    width: 40px;
    height: 40px;
    background-color: #515151;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin-right: 15px;
}
.icon.square {
    border-radius: 3px;
}
.icon.circle {
    border-radius: 50%;
}

.featured-item .title {
    display: inline-block;
}
.featured-item .title h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 8px 0 20px;
}
.featured-item:hover .title h3 {
    color: #77a86d;
}
.featured-item:hover .icon {
    background-color: #77a86d;
}
.featured-item .icon,
.featured-item .title h3 {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}


/* =-=-=-=-=-=-= About Section =-=-=-=-=-=-= */

@media (max-width: 991px) {
    .about-section .post-desc {
        margin-bottom: 40px;
    }
    .about-section .post-img img{
        width: 100%;
    }  
}


/* =-=-=-=-=-=-= Work Section =-=-=-=-=-=-= */
.latest-work-section {
    background-color: #1f2126;
}


.thumb-wrapper {
    position: relative;
    overflow: hidden;
}
.thumb-wrapper .bg-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(119, 168, 109, 0.8);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.thumb-wrapper:hover .bg-overlay{
    opacity: 1;
    visibility: visible;
}

.thumb-wrapper .portfolio-content {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -40px;
}
.thumb-wrapper .portfolio-icon-wrapper a{
    left: 20%;
    position: relative;
    display: inline-block;
    padding: 3px 8px;
    margin: 0 2px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}
.thumb-wrapper .portfolio-icon-wrapper a:hover {
    color: #77a86d;
    background-color: #fff;
}
.thumb-wrapper .portfolio-icon-wrapper a:first-child {
    left: -20%;
}

.thumb-wrapper:hover .portfolio-icon-wrapper a{
    left: 0;
}

.thumb-wrapper .portfolio-text {
    position: relative;
    top: 50px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.thumb-wrapper:hover .portfolio-text {
    top: 0;
}
.thumb-wrapper .portfolio-text h3 {
    color: #fff;
    margin: 20px 0 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.thumb-wrapper .portfolio-meta a {
    color: #fff;
    font-size: 13px;
}


/*work carousel controls*/
.work-carousel.owl-theme .owl-controls {
    margin-top: 30px;
}
.work-carousel.owl-theme .owl-dots .owl-dot span {
    width: 60px;
    height: 4px;
    background: #000000;
    border-radius: 0;
    -webkit-transition: background 0.4s ease-in-out 0s;
    -moz-transition: background 0.4s ease-in-out 0s;
    -ms-transition: background 0.4s ease-in-out 0s;
    -o-transition: background 0.4s ease-in-out 0s;
    transition: background 0.4s ease-in-out 0s;
}
.work-carousel.owl-theme .owl-dots .owl-dot.active span, 
.work-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #77a86d;
}

/* =-=-=-=-=-=-= Map Section =-=-=-=-=-=-= */
.map-section {
    padding: 80px 0;
    background-color: #eee;
}
.map-section h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
}
#world-map-markers {
    width: 100%;
    height: 400px;
}


/* =-=-=-=-=-=-= Contact Section =-=-=-=-=-=-= */

.contact-section {
    padding: 80px 0;
    background-color: #20242a;
}
.contact-form-wrapper {
    margin-top: 45px;
}

/* =-=-=-=-=-=-= Footer Section =-=-=-=-=-=-= */
.footer-section {
    background-color:#151719;
    padding: 28px 0;
}
.copy-text {
    font-weight: 400;
    color: #555555;
}

.footer-menu li {
    padding-right: 10px;
    padding-left: 10px;
}
.footer-menu li a {
    display: block;
    font-weight: 400;
    color: #555;
}
.footer-menu li a:hover {
    color: #77a86d;
}


@media screen and (max-width: 767px) {
    .copy-text {
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }
    .footer-menu {
        text-align: center;
    }
}


